// Base
.card {
    background: white;
    border-radius: 4px;
    box-shadow: 2px 4px 6px 1px rgba(0,0,0,.09);
    padding: rem-calc(20px);

    &:not(:last-child) {
        margin-bottom: rem-calc(20px);
    }

    &-summary {
        height: rem-calc(300px);
        border: 1px solid black;
        overflow-y: scroll;
        padding: rem-calc(10px);
        padding-right: rem-calc(20px);

        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0,0,0,.5);
            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
        }
    }
}

.navigation {
    background: $dark-purple;
    padding: rem-calc(15px) 0 0 0;

     .top-bar-section {
        ul li,
        li a {
            font-size: rem-calc(15px);
            background: transparent;
            color: $inactive-purple;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 300;
            line-height: 2.1;
        }

        li {
            margin-top: -6px;

            &:hover a,
            &:hover a:hover {
                background: transparent;
                color: $dark-grey;
            }

            &.active {
                border-bottom: 6px solid $teal;

                a,
                a:hover {
                    background: transparent !important;
                    color: $active-grey;
                }
            }
        }
    }
}
