// home
.home {
    header {
        background: url('../assets/images/background.jpg');
        background-size: cover;

        @media #{$small-only} {
            padding: rem-calc(15px);
        }
    }

    h1 {
        margin-bottom: 30px;
        margin-bottom: 10vh;
        margin-top: rem-calc(20px);
        color: rgba(255,255,255, 0.76);
        font-size: rem-calc(22px);
        font-weight: 100;
        letter-spacing: 1px;
    }

    .search-bar {
        margin-bottom: rem-calc(30px);
    }

    h3 {
        border-bottom: 1px solid $subtle-grey;
        text-transform: uppercase;
        color: $dark-grey;
        font-size: rem-calc(17px);
        margin-bottom: rem-calc(18px);
        letter-spacing: 1px;
        padding-bottom: rem-calc(5px);
    }

    .interest,
    .recent {
        padding: rem-calc(40px) 0 rem-calc(50px);
    }

    .recent {
        background: #fbfcfd;
        background: -webkit-linear-gradient(#fbfcfd 0%, #eaeef7 100%);
        background: -o-linear-gradient(#fbfcfd 0%, #eaeef7 100%);
        background: linear-gradient(#fbfcfd 0%, #eaeef7 100%);

        h3 {
            margin: 0 rem-calc(15px) rem-calc(18px);
        }
    }

    .interest {
        background: -webkit-linear-gradient(#4b5e69 0%, #478985 100%);
        background: -o-linear-gradient(#4b5e69 0%, #478985 100%);
        background: linear-gradient(#4b5e69 0%, #478985 100%);

        h3 {
            border-bottom: 1px solid $dark-grey;
        }
    }

    .card {
        padding-bottom: rem-calc(5px);
        min-height: 249px;

        a {
            text-transform: capitalize;
        }

        h4 {
            color: $blue;
            font-size: rem-calc(16px);
            margin-bottom: rem-calc(17px);
            margin-top: rem-calc(10px);
        }

        p {
            color: $darker-grey;
            font-size: rem-calc(14px);
            line-height: 1.6;
        }

        &-btn__container {
            position: absolute;
            bottom: 8px;
            right: 28px;

            @media #{$small-only} {
                bottom: 26px;
                right: 28px;
            }
        }

        @media #{$small-only} {
            margin-bottom: rem-calc(20px);
            min-height: 200px;
        }
    }

    input[type="text"] {
        background: rgba(216, 216, 216, 0.23);
        border-radius: 4px;
    }
}

.search-wrap {
    width: 75%;
    padding-bottom: 20px;
}

.quick-info {
    @media #{$small-only} {
        padding-left: rem-calc(15px);
        padding-right: rem-calc(15px);
    }
}
