// All Variables
// Grey
$subtle-grey: #EBEBED;
$dark-grey: #B9B9BB;
$active-grey: #909090;
$inactive-grey: #DEDEDE;

// Purple
$dark-purple: #373C59;
$inactive-purple: #7D82A2;

// Teal
$teal: #A7EBE4;

// Black
$on-black: #4A4A4A;
$black: #131313;
