// All Variables
// Grey
$subtle-grey: #EBEBED;
$dark-grey: #B9B9BB;
$darker-grey: #9A9A9A;
$active-grey: #909090;
$inactive-grey: #DEDEDE;

// Purple
$dark-purple: #373C59;
$inactive-purple: #7D82A2;

// Teal
$teal: #A7EBE4;

// Black
$on-black: #4A4A4A;
$black: #131313;

// Blue
$blue-grey: #979CA0;
$blue: #46879C;

$light-orange: #F3B66A;
$orange: #B18E62;

// Notification Green
$green: rgba(203, 228, 174, 0.83);
$red: rgba(228, 174, 174, 0.84);

// Shadow
$shadow-light: 6px 10px 25px -13px rgba(0,0,0,0.56);
