.search-bar {
    width: 100%;
    padding-left: 2em;
    display: block;
}

.results {
    display: none;
    width: 100%;
    padding-left: 0em;
    position: absolute;
    left: 0px;
    z-index: 999;
    background: white;
    width: 100%;
    max-width: 62.5rem;
    margin-top: -16px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 7px 7px;

    &.active {
        display: block;
        box-shadow: 2px 4px 6px 1px rgba(0,0,0,.09);
    }

    li {
        list-style: none;
        padding: 0.5em;
        cursor: pointer;
        color: #636363;

        &:hover {
            background-color: #F1F1F1;
        }
    }

    .selected {
        background-color: #F1F1F1;
    }
}
