<section class="bookmarks">
    <article class="medium-8 small-12 columns card bookmarks__card">
        <div class="heading">
            <h2>Saved Bookmarks</h2>

            <div class="buttons">
                <a ng-click="bookmarks.action.clearBookmarks()"><i class="material-icons">delete_sweep</i></a>
            </div>
        </div>
        <ul>
            <li ng-repeat="bookmark in bookmarks.model.bookmarks">
                <h4>{{ bookmark.article_title}}</h4>
                <p>{{ bookmark.summary | limitTo: 1000 }} ...</p>

                <div class="option-wrap">
                    <a href="{{ bookmark.wiki_link }}" target="_blank"><i class="material-icons">launch</i>Go to Wikipedia</a>

                    <a ng-click="bookmarks.action.removeItem(bookmark)"><i class="material-icons">remove_circle_outline</i>Remove Item</a>
                </div>
            </li>
        </ul>
    </article>

    <div class="medium-4 small-12 columns export">
        <article ng-cloak class="small-12 columns card">
            <div class="export__card">
                <h3>Export</h3>

                <div class="export__summary">
                    <p>Export to an external file to save on your local computer.</p>
                </div>

                <form>
                    <label for="fileName">File Name:</label>
                    <input name="fileName" type="text" ng-model="bookmarks.model.fileName" />
                    <div class="export__selection">
                        <label for="exportSelection">Export Type:</label>
                        <select name="exportSelection" ng-model="bookmarks.model.exportType" ng-change="bookmarks.action.export()" ng-options="extension.type as extension.label for extension in bookmarks.model.extensions">
                            <option value="">Choose File Type</option>
                        </select>
                    </div>


                    <div class="export__btns">
                        <a ng-href="{{ bookmarks.model.downloadUrl }}" class="export__btn" download="{{ bookmarks.model.fileName }}">Export</a>
                    </div>

                </form>
            </div>
        </article>
    </div>
</section>
