<div>
    <nav class="top-bar row">
        <ul class="title-area">
            <li class="name">
            <h1><a ui-sref="home">Diggly</a></h1>
            </li>
        </ul>

        <section class="top-bar-section">
        <ul class="right">
            
        </ul>
        </section>
    </nav>
</div>
<header class="navigation">
    <nav class="top-bar row">
        <div class="top-bar-section">
            <ul class="left">
                <li>
                    <a ui-sref="home">Home</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="explore">Explore</a>
                </li>
            </div>

            <div class="right">
                <search-diggly></search-diggly>
            </div>
        </div>
    </nav>
</header>
<main class="explore">
    <div class="row">
        <nav class="top-bar">
            <div class="top-bar-section">
                <div class="left">
                    <h2>Explore</h2>
                </div>

                <ul class="right">
                    <li ui-sref-active="active">
                        <a ui-sref="explore.visual({ history: history })">Visual</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="explore.history({ history: history })">History</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="explore.bookmark">Bookmark</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="small-12 columns">
            <div class="row">
                <div ui-view></div>
            </div>
        </div>
    </div>
</main>
