<div class="visual" style="height: 400px">
  <diggly-visual data="visual.model.data" on-click="visual.action.onClick(item)"></diggly-visual>
</div>

<!-- Temporary for now -->
<div class="metaData" style="float: left; width: 400px">
    <h2>Topic</h2>
    <h2>{{ visual.model.currentTopic.article_title }}</h2>
    <p>{{ visual.model.currentTopic.summary }}</p>
    <a ng-href="{{ visual.model.currentTopic.wiki_link }}">View on Wikipedia</a>
</div>

<div class="History" style="float: right; width: 400px"><h2>History</h2>
    <ul>
        <div ng-repeat="topic in visual.model.history">
            <h4>{{ topic.article_title}}</h4>
            <p>{{ topic.summary | limitTo: 150 }} ...</p>
            <a href="{{ topic.wiki_link }}" target="_blank">View it on Wikipedia</a>
            <hr>
        </div>
    </ul>
</div>
