// Footer styles

footer {
    background: $black;
    padding: rem-calc(20px) 0;

    .footer__nav {
        text-align: right;

        h4 {
            color: $on-black;
        }

        li {
            font-size: rem-calc(14px);
            display: inline-block;

            a {
                color: $on-black;

                &:hover {
                    color: $dark-grey;
                }
            }

            &:not(:last-child) {
                margin-right: rem-calc(15px)
            }
        }
    }
}
