// Base Explore
.explore {
    background: linear-gradient(to bottom, #fcfdff 0%,#e6e5ea 100%);
    min-height: 75vh;
    padding: rem-calc(20px) 0 rem-calc(40px);

    .top-bar {
        border-bottom: 1px solid $subtle-grey;
        margin-bottom: rem-calc(15px);
        background: transparent;

        // For now, will investigate why foundation settings aren't working
        .top-bar-section {
            ul li,
            li a {
                background: transparent;
                color: $inactive-grey;
                text-transform: uppercase;
            }

            li {
                &:hover a,
                &:hover a:hover {
                    background: transparent;
                    color: $dark-grey;
                }

                &.active a {
                    background: transparent;
                    color: $active-grey;
                }
            }
        }
    }

    h2 {
        color: $dark-grey;
        font-size: rem-calc(27px);
    }

    .card {
        h3 {
            font-size: rem-calc(20px);
        }

        h2 {
            font-weight: 400;
            color: $blue;
            display: inline-block;
        }

        .heading {
            border-bottom: 1px solid $subtle-grey;
            padding-bottom: rem-calc(10px);

            .buttons {
                float: right;

                i {
                    color: $blue;
                }
            }
        }
    }
}
