.export {
    margin-right: rem-calc(-14px);

    &__card {

        h3 {
            padding-bottom: 5px;
            border-bottom: 1px solid $subtle-grey;
        }

        p {
            padding: 10px;
        }
    }

    &__btns {
        text-align: right;
    }

    &__btn {
        background: $light-orange;
        padding: rem-calc(12px) rem-calc(24px);
        box-shadow: $shadow-light;
        transition: background .5s ease;

        &:focus,
        &:hover {
            border: none;
            background: $orange;
        }

        &:active {
            border-color: none;
        }
    }

}
