// History
.history__card,
.bookmarks__card {
    min-height: 547px;

    ul {
        max-height: 550px;
        overflow-y: scroll;
    }

    li {
        padding: rem-calc(20px);
    }

    .option-wrap {
        text-align: right;

        .material-icons {
            position: relative;
            top: 6px;
            margin-right: 5px;
        }

        a:first-child {
            margin-right: 30px;
        }
    }
}

