// Visual

.visualizer {
    height: 100%;
    width: 98%;
    min-height: 500px;

    &-container {
        height: 100%;
        min-height: 500px;
    }

    svg {
        min-height: 500px;
    }

    &-card-history {

    }
}
