// Visual

.visual {
    .history-card {
        &__list {
            max-height: 128px;
            overflow-y: scroll;
        }
        ul {
            margin-left: 0;
            border-top: 1px solid $subtle-grey;
        }

        li {
            border-top: 1px solid $subtle-grey;
            border-bottom: 1px solid $subtle-grey;
            margin-top: -1px;
            font-size: rem-calc(13px);
            list-style-type: none;
            padding: rem-calc(4px) rem-calc(9px);
        }

        .buttons {
            text-align: right;

            a:first-child {
                margin-right: rem-calc(10px);
            }
        }

        .material-icons {
            font-size: rem-calc(19px);
        }
    }

    .current-card {
        &__summary {
            height: rem-calc(200px);
            border: 1px solid $subtle-grey;
            overflow-y: scroll;
            padding: rem-calc(10px);
            padding-right: rem-calc(20px);
            border-radius: 4px;

            p {
                font-size: rem-calc(15px);
                line-height: 1.35;
            }
        }

        &__btns {
            margin-top: rem-calc(10px);
        }

        .add-bookmark {
            float: right;
        }
    }

    @media #{$small-only} {
        .quick-info {
            margin-top: rem-calc(18px);
        }
    }

    &__loader {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;

        img {
            position: relative;
            left: calc(50% - 44px);
            top: 38%;
        }
    }
}

.visualizer {
    height: 100%;
    width: 100%;
    min-height: 547px;
    margin-left: -14px; // left to override foundation padding

    @media #{$small-only} {
        margin-left: 0;
    }

    &.card {
        padding: 0;
    }


    &-container,
    svg {
        height: 100%;
        min-height: 547px;
    }

    // labels
    @for $i from 0 through 6{
        .label-#{$i} {
            font-weight: 100;
            letter-spacing: 1px;
            stroke: #353535;
            cursor: pointer;

            &:hover,
            &:focus {
                opacity: 0.6;
            }
        }

        .node-#{$i} {
            cursor: pointer;

            &:hover,
            &:focus {
                opacity: 0.6;
            }
        }
    }

    .label-0 {
        stroke: $dark-purple;
        font-weight: 500;
        cursor: default;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    .node-0 {
        cursor: move;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}

