<main>
    <header>
        <div class="row">
            <search-diggly></search-diggly>
        </div>
    </header>

    <section class="recent">
        <div class="row">
            <h3>Recently Discovered</h3>

            <article class="medium-4 small-12 columns">
                <div class="card">
                    <h4>David Bowie</h4>

                    <p>David Robert Jones known as David Bowie was an English singer, songwriter, multi-instrumentalist, recording pro-...</p>

                    <a href="card-arrow">-></a>
                </div>
            </article>

            <article class="medium-4 small-12 columns">
                <div class="card">
                    <h4>David Bowie</h4>

                    <p>David Robert Jones known as David Bowie was an English singer, songwriter, multi-instrumentalist, recording pro-...</p>

                    <a href="card-arrow">-></a>
                </div>
            </article>

             <article class="medium-4 small-12 columns">
                <div class="card">
                    <h4>David Bowie</h4>

                    <p>David Robert Jones known as David Bowie was an English singer, songwriter, multi-instrumentalist, recording pro-...</p>

                    <a href="card-arrow">-></a>
                </div>
            </article>
        </div>
    </section>

    <section>
        <div class="row">
            <article class="medium-4 small-12 columns">
                <h3>Trending Now</h3>

                <div class="card">
                    <h4>David Bowie</h4>

                    <p>David Robert Jones known as David Bowie was an English singer, songwriter, multi-instrumentalist, recording pro-...</p>

                    <a href="card-arrow">-></a>
                </div>
            </article>
            <article class="medium-4 small-12 columns">
                <h3>Most Popular</h3>

                <div class="card">
                    <h4>David Bowie</h4>

                    <p>David Robert Jones known as David Bowie was an English singer, songwriter, multi-instrumentalist, recording pro-...</p>

                    <a href="card-arrow">-></a>
                </div>
            </article>
            <article class="medium-4 small-12 columns">
                <h3>Something New</h3>

                <div class="card">
                    <h4>David Bowie</h4>

                    <p>David Robert Jones known as David Bowie was an English singer, songwriter, multi-instrumentalist, recording pro-...</p>

                    <a href="card-arrow">-></a>
                </div>
            </article>

        </div>
    </section>
</main>
