<main class="home">
    <header>
        <div class="row">
            <h1 ui-sref="home">diggly</h1>

            <div class="search-wrap">
                <search-diggly></search-diggly>
            </div>
        </div>
    </header>

    <section class="recent">
        <div class="row">
            <h3>Recently Discovered</h3>
            <article class="medium-4 small-12 columns" ng-repeat="recentArticle in home.model.recent">
                <topic-card ng-cloak title="recentArticle.article_title" content="recentArticle.summary" id="recentArticle.article_id"> {{recentArticle }}</topic-card>
            </article>
        </div>
    </section>

    <section class="interest">
        <div class="row">
            <article class="medium-4 small-12 columns">
                <h3>Trending Now</h3>

                <topic-card ng-cloak title="home.model.trending.article_title" content="home.model.trending.summary" id="home.model.trending.article_id"></topic-card>
            </article>
            <article class="medium-4 small-12 columns">
                <h3>Most Popular</h3>

                <topic-card ng-cloak title="home.model.popular.article_title" content="home.model.popular.summary" id="home.model.popular.article_id"></topic-card>
            </article>
            <article class="medium-4 small-12 columns">
                <h3>Something New</h3>

                <topic-card ng-cloak title="home.model.random.article_title" content="home.model.random.summary" id="home.model.random.article_id"></topic-card>
            </article>
        </div>
    </section>
</main>
